proj01
*.ko
*.o
*.unsigned
*.mod.*
*.swp
modules.order
Module.symvers
.tmp_versions/
*.cmd
rootkit.c
.cproject
.autotools
.project
.settings/
procps/
rpm/
patched/
*~
.kdev4/
.kdev_include_paths
bis-proj01.kdev4
